<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit!. </h1>
    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur commodi dolore eius exercitationem nemo
        quod. Aliquid amet aspernatur, culpa dicta, doloremque in inventore maiores natus tempore ullam unde
        voluptate.</em>

    <form th:action="${prefix} + '/do-logout'" method="post">
        <button type="submit">Logout</button>
    </form>
</body>

</html>